/*EMPRESA: SYSTEM BOSS
APLICACIÓN: HEART SPORT
VISUAL11: ESTILOS DE LA PARTE SOCIAL DEL USUARIO*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Josefin Sans, sans-serif;
  color: #000;
}

.header {
  background-color: #800040;
  color: white;
  text-align: center;
  padding: 14px 0;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  font-family: Josefin Sans, sans-serif;
}

.botonatras {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  padding: 16px;
}

.search-box {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

#busqueda {
  flex: 1;
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 16px;
  font-family: Josefin Sans, sans-serif;

}

.buscar-btn {
  padding: 12px 16px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-color: black;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: Josefin Sans, sans-serif;
}





.amigo {
  background: linear-gradient(135deg, #004080, #0055a5);
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
  margin-bottom: 10px;
  width: 450px;
  height: 79px;
}

.amigo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.info .nombre {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
  position: relative;
  top: 24px;
  width: 600px;
}


.botonagregar {
  border: none;
  background: none;
  position: relative;
  left: 300px;
  top: -15px;
}

.imagenañadir {
  width: 100px;
  cursor: pointer;
}


@media (min-width: 360px) {
  .container {
    max-width: 450px;
    margin: auto;
  }

  .amigo {
    width: 320px;
    height: auto;
  }


  .info .nombre {
    font-weight: bold;
    font-size: 17px;
    margin: 0;
    position: relative;
    top: 24px;
    width: 160px;
  }


  .botonagregar {
    border: none;
    background: none;
    position: relative;
    left: 160px;
    top: -15px;
  }

}